@font-face {
  font-family: 'tool';
  src: url('../font/tool.eot?81094869');
  src: url('../font/tool.eot?81094869#iefix') format('embedded-opentype'),
       url('../font/tool.woff?81094869') format('woff'),
       url('../font/tool.ttf?81094869') format('truetype'),
       url('../font/tool.svg?81094869#tool') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tool';
    src: url('../font/tool.svg?81094869#tool') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tool";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e807'; } /* '' */
.icon-indent-right:before { content: '\e827'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-ok-circle:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-cancel-circle:before { content: '\e801'; } /* '' */
.icon-plus-circle:before { content: '\e802'; } /* '' */
.icon-minus-circle:before { content: '\e803'; } /* '' */
.icon-attach:before { content: '\e819'; } /* '' */
.icon-lock:before { content: '\e81a'; } /* '' */
.icon-reply:before { content: '\e816'; } /* '' */
.icon-reply-all:before { content: '\e817'; } /* '' */
.icon-forward:before { content: '\e811'; } /* '' */
.icon-code:before { content: '\e810'; } /* '' */
.icon-folder:before { content: '\e818'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e81b'; } /* '' */
.icon-clock:before { content: '\e815'; } /* '' */
.icon-block:before { content: '\e814'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-resize-full-circle:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-down-circle:before { content: '\e80d'; } /* '' */
.icon-left-circle:before { content: '\e80c'; } /* '' */
.icon-right-circle:before { content: '\e80b'; } /* '' */
.icon-up-circle:before { content: '\e80a'; } /* '' */
.icon-down-dir:before { content: '\e823'; } /* '' */
.icon-right-dir:before { content: '\e822'; } /* '' */
.icon-down-micro:before { content: '\e821'; } /* '' */
.icon-up-micro:before { content: '\e820'; } /* '' */
.icon-cw-circle:before { content: '\e81f'; } /* '' */
.icon-arrows-cw:before { content: '\e81e'; } /* '' */
.icon-updown-circle:before { content: '\e81d'; } /* '' */
.icon-signal:before { content: '\e81c'; } /* '' */
.icon-list:before { content: '\e824'; } /* '' */
.icon-list-numbered:before { content: '\e825'; } /* '' */
.icon-indent-left:before { content: '\e826'; } /* '' */
.icon-resize-full:before { content: '\e813'; } /* '' */